* {
    margin: 0;
    padding: 0

}
ul li {
    list-style: none;
}

.mask {background-image: url(../assets/images/mask.png); }
.history {background-image: url(../assets/images/history.png); }
.message {background-image: url(../assets/images/message.png); }
.setting {background-image: url(../assets/images/setting.png); }
.sign {background-image: url(../assets/images/signout.png); }

#at-plus-container {
    position: fixed;
    bottom: 200px;
    left: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

#bottom-positioner {
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}
#button {
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.apb {
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    -webkit-transition: all .3s .6s;
         -o-transition: all .3s .6s;
            transition: all .3s .6s;

    border-radius: 50%;
    background-color: rgba(48,63,159,0.5);
}

.icon {
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s .6s;
         -o-transition: all .3s .6s;
            transition: all .3s .6s;
    background-image: url(../assets/images/atplus_white.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 25px;
            background-size: 25px;
}
#info-bar {
    position: absolute;
    top: 30px;
    left: 30px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0,0,10,.4);
}
.info {
    position: absolute;
    width: 130px;
    height: 130px;
}
.info li {
    position: absolute;
    color: #fff;
}
.info li span {font-weight: bold; }
.user {
    top: 10px;
    left: 45px;
}
.comment {
    font-size: 25px;
    top: 42px;
    left: 45px;
}
.posted {
    bottom: 20px;
    left: 25px;
}

.like {
    right: 20px;
    bottom: 20px;
}
.like span,.posted span {
    color: #079e6e;

}

#control-ring li {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0,0,10,.4);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 18px;
            background-size: 18px;
}
.page img
{
    vertical-align: middle;
}
.posted img,
.like img{
    vertical-align:middle;
    width: 24px;
    height: 24px;
}
#info-bar li span {
    margin-left: 6px;width: 24px;
    height: 24px;
    vertical-align: middle;
}
.unread {
    font-size: 10px;
    position: absolute;
    top: -4px;
    right: -6px;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: red;
}
#at-plus-container:hover {
    bottom: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}
#at-plus-container:hover #bottom-positioner {
    top: 170px;
    left: 100px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

#at-plus-container:hover #info-bar {
    top: -150px;
    left: -50px;
    width: 130px;
    height: 130px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;

    opacity: 1;
    background-color: rgba(0,0,10,.4);
}
#at-plus-container:hover .apb {
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    border-radius: 50%;
    background-color: rgba(48,63,159,1);
}
#at-plus-container:hover .icon {
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    background-image: url(../assets/images/atplus_green.png);
    -webkit-background-size: 40px;
            background-size: 40px;
}
#at-plus-container:hover .mask {
    top: -30px;
    left: -54px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    opacity: 1;
}

#at-plus-container:hover .history {
    top: 5px;
    left: -65px;

    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;

    opacity: 1;
}
#at-plus-container:hover .message {
    top: 40px;
    left: -54px;

    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;

    opacity: 1;
}
#at-plus-container:hover .setting {
    top: 60px;
    left: -24px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    opacity: 1;
}
#at-plus-container:hover .sign {
    top: 60px;
    left: 16px;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    opacity: 1;
}
#control-ring li:hover {background-color: rgba(0,0,20,0.7);}
.apb :hover    {opacity: 0.5;}
.page img:hover{opacity: 0.5;}
.mine img:hover{opacity: 0.5;}